#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #225eb2;
    background-color: #225eb2;
    color: #fff;
    height: 400px;
}

.nav.navbar-nav li a {
    color: #225eb2;
}

.postData{
    margin-left: 50px;
}

#menu a {
    background-color: #225eb2;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #225eb2;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #225eb2;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.content {
    position: relative;
}
#newpost {
    position:absolute;
    top: 10px;
    right: 0;
}

#mytable{
    position: absolute;
    top:50px;
    right: 0;
    left: 20px;
}

#searchbutton{
    position: relative;
    right:0;
    top:10px;
}
