#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #225eb2;
    background-color: #225eb2;
    color: #fff;
    height: 400px;
}

.nav.navbar-nav li a {
    color: #023A78;
  
}

.nav.navbar-nav a:hover{
    background-color: #F5820C;
    color: #FFFFFF;
}



.navbar-header a:hover {
    background-color: #F5820C;
    color: #FFFFFF;
}

.navbar-header a {
    color: #666666;

}

.postData{
    margin-left: 50px;
}

#menu a {
    background-color: #225eb2;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #225eb2;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #F5820C;

}

.filesubmission{
    position: absolute;
    left: 1000px;
    top: 120px;
}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.fileToUpload{
    margin-bottom: 5px;
}

.content {
    position: relative;
}
#newpost {
    position:absolute;
    top: 10px;
    right: 0;
}

#mytable{
    position: absolute;
    top:50px;
    right: 0;
    left: 20px;
}

#searchbutton{
    position: relative;
    right:0;
    top:10px;
}

.form-inline{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px
}
.mylabel {
    margin-right: 20px;
}

/*
 * message on success is green
 */
.successful{
    color: green;
    border-color: greenyellow;
    margin-top: 30px;
}

.no-projects, .error{
    color: red;
    margin-top: 30px;
}
